body {
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(112,112,112,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(112,112,112,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(112,112,112,.4));
  border: 40px 40px 40px 40px;
  border-color: white;
}

.first {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 5px 0 0 0;
  border-radius: 12px;
}
.second {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
.third {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
.list {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  width:100%;
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.first{
  background-image: url("./resources/images/picture.jpg");
}
.second{
  background-image: url("./resources/images/757z468_1533196919_Applegreen.jpg");
  image-orientation: ;
}
.third{
  background-image: url("");
}
.date{
 float: right;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 300%;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 300%;
  height: 0;
  transition: .5s ease;
}
.text{
  margin: 30px 20px 20px 20px;
}
.container:hover .overlay {
  height: 100%;
